<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css"> <!-- Link al CSS esterno -->
</head>
<body>
    <!-- Barra di progresso -->
    <div id="progress-bar-container">
        <div id="progress-bar"></div>
    </div>

    <!-- Audio per quando la barra arriva al 100% -->
    <audio id="completion-sound" src="static\Barra di Punti canale spesi\Final-Fantasy-7-REMAKE-Victory-Fanfare.mp3" style="display:none;"></audio>


    <!-- Allert -->
    <div class="image_container" id="image_container" height="300">
        <img id="image" src="static\prova\greenscreen_antialiased.png" height="250" />
        <p id="testo"> Testo di prova</p>
        <audio id="audio" src="static\prova\1.mp3" style="display:none;"></audio>
    </div>

    <!-- Passaggio delle variabili total_cost e max_cost come data-attributes -->
    <div id="cost-info"
         data-total-cost="{{ total_cost }}"
         data-max-cost="{{ max_cost }}"
         data-show-progress-bar="{{ show_progress_bar }}">
    </div>

    <script>
        const socket = io();
    </script>
    <script src="static/js/script-barra.js"></script> <!-- File JavaScript per la barra -->
    <script src="static/js/script-allert.js"></script> <!-- File JavaScript per allert -->
</body>
</html>
